.mt-50{
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.text-soluong{
	font-size: 12px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,0.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
    text-align: left;
}

.card-img{
    width: 350px;
}

.star{color:#FFD600;
}
.fa-cart-plus{
	color: #ff7634;
}


.subprice{
	text-decoration: line-through;
	color: #d9d9d9;	
}
.mainprice{
	color: #ff7634;
	font-weight: 600;
}

.bg-cart:hover {
    
    color:#fff;
}

.bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.bg-buy:hover {    
	color:#000;
}
a{
	font-weight: 600;	
}


.title-spp a:link{
	color:#000000;
    text-decoration: none !important;
}
.title-spp a:visited{
	color: #000000
}
.title-spp a:hover{
	color: #9E461B;
}
.title-spp a:active{
	color: #ff7634;
}
.flex-container{
	display: flex;
	justify-content: space-between;
}





