@charset "utf-8";
/* CSS Document */

*{margin: 0px; padding:0px}
.header{ background: black; height: 80px;}
.header ul li{ display: block;
	;margin-right: 6%;
	color:aliceblue;
	float: right;
	padding-top: 2%; font-size: 17px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"}
.logo{ float:left;
	margin-left: 5%;
	width: 110px;
	padding-top: 20px}
.content1{background-image: url("bai thi/bg1.jpg");
		height: 800px;
		background-size: cover; background-position: center;
		text-align: center;
}
.blades{padding-top:24%;
	font-size:70px;color: white
;	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
letter-spacing: 20px}
.fandom{ padding-top:14%;
	color: white;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 25px;
	letter-spacing: 10px}
.content2{background-color:#ECE8E1;
	height: 680px}
.hinh5nguoi{height: 600px;
	padding-top: 3%;
	padding-left: 4%}
.kda{font-size: 150px;font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	letter-spacing: 15px; color:#f6de74
}
.content2{position: relative}
.content2 h2 {position: absolute;
		top:46%;	
		left: 60% }
.laai{font-size: 33px;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"}
.content2 h3 {position: absolute;
		top:62%;	
		left: 71% }
.content2 p {position: absolute;
		top:71%;	
		left: 71%;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-align:left;
	margin-right: 6%}
.noidung1{font-size: 15px}
.content2 img{display:block;transition: all 0.3s ;}
.content2 img:hover{transform: scale(1.1);}
.content3 {height: 650px;
	background-size: cover;
	background-position: center;
	background-image: url("bai thi/kda-2020-seraphine-akali-ahri-kaisa-evelynn-lol-uhdpaper.com-4K-8.724.jpg")}
.thanhlap{padding-top: 10%;
	padding-bottom: 1%;
	color: white;
	font-size: 70px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	padding-left: 10%;	
}
.content3{position: relative;}
.content3 h3 {padding-left: 10%;
	padding-top: 1%;
	font-size: 30px;
	color: white}
.content3 p{font-size: 15px; 
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	padding-left: 10%;
	padding-right: 67%;
	padding-top: 1%;
	color:#E6E3E3
	}
hr{width: 30%;
	margin-left: 10%;
}
.content3 h2{display: inline-block
	;transition: all 0.3s}
.content3 h2:hover{transform: translate(0px,20px);}
.header ul li{display: inline-block
	;transition: all 0.3s}
.header ul li:hover{text-decoration: underline;}
.content4{background-image: url("bai thi/kaisa1.jpg");
	height: 650px;
	background-size: cover;
	background-position: center;
position: relative}
.content4 p{font-size: 15px; 
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	padding-left: 10%;
	padding-right: 67%;
	padding-top: 1%;
	color:#E6E3E3}
.content4 h2{padding-top: 17%}
.content4 h2:hover{text-decoration: underline;padding-top:20%}
.tatcahinh{margin-left: 60%}
.content4{position:relative}
.tatcahinh{position: absolute;
top:7%;font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	padding: 3%;
	border: solid}
.content4 h3{font-size: 33px}
.content4 h4{font-size: 20px}
.content4 h4:hover{text-decoration: underline;}
.content4 h6{font-size: 15px}
.nhanvat{height: 650px;
	padding-top: 5%;
	padding-left: 10%;
	border-bottom: 1px solid white
	}

.content5 img{display:block;transition: all 0.3s ;}
.content5 img:hover{transform: scale(1.1);}
.content5{background:#0f1923;height: 850px;
	position: relative}
.benphai {position: absolute;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";

	top:2%;left: 52%}
.benphai img{width: 600px;margin-top: 15%;}
label {color: white;font-size: 20px;margin-top: 10px}
input {width:400px;padding-top: 5px;margin-top: 10px;border: none;border-bottom: 1px solid white;
	background: transparent;
color-text:white;
margin-bottom: 5%}
button{width: 404px;
	padding: 10px;margin-top: 5%;
	margin-bottom: 5%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	border-radius: 5px;
	background-image: url("bai thi/bg2.png")}
.box{margin-left: 20%; color: white}
.footer{background: #000000;
height: 350px}
.footer p{color: #D3D3D3; 
	text-align: center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 15px}
.padding{padding-top: 2%}
.logo2 img{height: 50px;}
.lol{padding-left: 45%;padding-top: 4%;padding-right: 2%}
.padding{padding-bottom: 2%}
.name{color: white;font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";padding-left: 2%}
.email{color:white;font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";padding-left: 2%}



