@charset "utf-8";
/* navbar.css 
Client: KIM & YOU JSC
Agency: KnU MKT
PM: Tran Diep Anh
Author: @_vipooo_ /frontend/
		@vietanh /backend/
*/
*{
	font-family: 'Montserrat', sans-serif;
}
.p-5{
	height: 500px;

}
.navbar{
	background-color: #fff;
	height: 80px;
}
.navbar-brand img{
	width: 115px;	
}
.offcanvas-title img{
	width: 115px;
}
.login-button{
	background-color: #fff;
	color: #ff7634;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 17px;
	border-radius: 50px;
	border: 2px solid #ff7634;
	text-decoration: none;
	transition: 0.3s background-color;	
	
}
.login-button:hover{
	color: #fff;
	background-color: #ff7634;
}
.navbar-toggler{
	border: none;
	font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
	box-shadow: none;
	outline: none;	
}
.nav-item{
	font-size: 17px;
	font-weight: 600;
}
.nav-link{
	color: #666777;
	font-weight: 700;
	position: relative;
}
.nav-link:hover, .nav-link:active{
	color: #000;
	
}
@media (min-width: 991px) {
	.nav-link::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 0%;
		height: 2px;
		background-color: #ff7634;
		visibility: hidden;
		transition: 0.3s ease-in-out;
	}
	.nav-link:hover::before, .nav-link.active::before{
	width: 100%;
	visibility: visible;
	}
}

/*blog*/
.thumbnail-blog img{
	max-width: 100%;
}
.thumbnail-blog-small img{
	max-width: 40%;
	float: left;
	margin-right: 10px;
}
.title-blog{
	font-size: 16px;
	font-weight: 600;
}
.partner{
	justify-content: center;
	text-align: center;
}	
.partner img{
	max-width: 85%;

}
.mini-banner img{
	max-width: 100%;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }



